<p>header works!</p>
<div class="bg-dark text-light fixed-top align-items-center">
  <header>
    <!-- <div class="d-flex bg-dark text-light fixed-top align-items-center justify-content-end"> -->

    <div class="d-flex align-items-center flex-wrap">
      <div class="ms-2 yoProgramo me-auto pt-2">
        <a
          href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
        >
          <h5>#YoProgramo</h5>
        </a>
      </div>
      <div class="mt-2 mb-2">
        <a
          href="https://www.linkedin.com/in/tom%C3%A1s-andrades/"
          class="link-light p-2"
          ><fa-icon [icon]="faLinkedin"></fa-icon
        ></a>
      </div>
      <div class="mt-2 mb-2">
        <a href="https://github.com/TomAndrades" class="link-light p-2"
          ><fa-icon [icon]="faGithub"></fa-icon
        ></a>
      </div>
      <div class="p-2">
        <app-login></app-login>
      </div>
    </div>
  </header>
</div>
