<div *ngFor="let proyecto of proyectos; let i = index">
  <a [href]="proyecto.urlProyecto">
    <div *ngIf="i === 0; else notFirst">
      <div class="carousel-item active" data-bs-interval="10000">
        <img [src]="proyecto.imgProyecto" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block bg-secondary rounded">
          <h5>{{ proyecto.nombreProyecto }}</h5>
          <p>{{ proyecto.descripcion }}</p>
        </div>
      </div>
    </div>
    <ng-template #notFirst>
      <div class="carousel-item" data-bs-interval="10000">
        <img [src]="proyecto.imgProyecto" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block bg-secondary rounded">
          <h5>{{ proyecto.nombreProyecto }}</h5>
          <p>{{ proyecto.descripcion }}</p>
        </div>
      </div>
    </ng-template>
  </a>
</div>
