<!-- <div class="card mat-card">
  <img class="mask" /> -->
<!-- <img class="card-img-top" src="{{ portrait }}" /> -->
<!-- 
  <img class="profile-image" src="{{ profile }}" />
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus,
      omnis aperiam. Culpa nesciunt ratione non expedita exercitationem
      praesentium, nulla modi veritatis reprehenderit sapiente ullam possimus
      accusamus, optio hic a perferendis!
    </p>
  </div>
</div> -->

<div class="container-fluid px-0 position-relative">
  <img
    class="w-100"
    src="https://i.pinimg.com/originals/09/01/43/0901434384290893f3f67b1065855d60.gif"
  />
  <img class="rounded-circle wey" src="{{ profile }}" />
</div>
<div
  class="container-fluid d-flex flex-column justify-content-center postion-relative"
>
  <span class="fs-5 font-weight fw-bold pt-5"> TOMAS ANDRADES </span>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum debitis
    velit maiores. Adipisci maiores id asperiores repudiandae quo, perferendis
    eum rerum consectetur cupiditate ratione reprehenderit consequatur
    consequuntur illo architecto laudantium?
  </p>
</div>
