<div class="card mat-card">
  <img class="mask" />
  <!-- <img class="card-img-top" src="{{ portrait }}" /> -->
  <div class="container">
    <img class="profile-image" src="{{ profile }}" />
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-around">{{ name }}</h5>
      <p class="card-text d-flex justify-content-around">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Necessitatibus, omnis aperiam. Culpa nesciunt ratione non expedita
        exercitationem praesentium, nulla modi veritatis reprehenderit sapiente
        ullam possimus accusamus, optio hic a perferendis!
      </p>
    </div>
  </div>
</div>
